body {
    background-color: rgba(0, 183, 255, 0.733);
}
h1 {
    text-align: center;
}
h2 {
    font-family: Georgian;
    text-align: center;
}
div.images {
    text-align: center;
}
#concert_list {
    font-style: italic;
}
img {
    max-width: 100%;
    height: auto;
}